
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Payment Method</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <nav class="fixed w-full p-5 bg-white shadow md:relative  md:flex md:items-center md:justify-between">
    <div class="flex justify-between items-center">
        <span class="text-2xl font-[Poppins] cursor-pointer text-[#060840]">
          Add to Cart
        <!-- <img class="h-10 inline" src="tailwind-svgrepo-com.svg" alt=""> -->
        </span>
        <span class="text-3xl cursor-pointer mx-2 md:hidden block">
            <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
         </span>
    </div>
    <ul class="md:flex md:items-center z-[1] md:z-auto md:static  absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 md:top-[-400px] transition-all easy-in duration-500 ">
        <li class="mx-4 my-6 md:my-0">
            <a href="home" class="text-sm hover:text-cyan-500 duration-500">HOME</a>
        </li>
        <li  class="mx-4 my-6 md:my-0">
            <a href="product" class="text-sm hover:text-cyan-500 duration-500">SERVICE</a>
        </li>
        <li  class="mx-4 my-6 md:my-0">
            <a href="#" class="text-sm hover:text-cyan-500 duration-500">ABOUT</a>
        </li>
        <li  class="mx-4 my-6 md:my-0">
            <a href="#" class="text-sm hover:text-cyan-500 duration-500">CONTACT</a>
        </li>
        <li  class="mx-4 my-6 md:my-0">
            <a href="#" class="text-sm hover:text-cyan-500 duration-500">BLOG'S</a>
        </li>
        <button class="bg-[#060840] text-white font-[Poppins] duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded">
            Get started
        </button>
    </ul>
</nav>        

  
<div class="bg-gray-100 flex flex-col items-center justify-center min-h-screen my-7">
  <div id="cart-container" class="relative w-[95%] overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-[#060840] ">
        <thead class="text-xs text-[#060840] uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-16 py-3">
                    <span>Image</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    Place
                </th>
                <th scope="col" class="px-6 py-3">
                    Adult_no
                </th>
                <th scope="col" class="px-6 py-3">
                    Kids_no
                </th>
                <th scope="col" class="px-6 py-3">
                  Days_no
                </th>
                <th scope="col" class="px-6 py-3">
                    Total_price
                </th>
                <th scope="col" class="px-6 py-3">
                  Action
              </th>
            </tr>
        </thead>
        <tbody>


          <% if (!cart || cart.length === 0) { %>
            <p>Your cart is empty. <a href="/product">Shop now</a>.</p>
        <% } else { %>
            <!-- Render cart items -->
            <% cart.forEach(item => { %>
            <tr class="bg-white border-b hover:bg-gray-50">
                <td class="p-4">
                    <img src="<%= item.thumbnail[0] %>" class="w-16 md:w-32 max-w-full max-h-full" alt="<%= item.title %>">
                </td>
                <td class="px-6 py-4 font-semibold text-[#060840] text-nowrap" id="title">
                  <span  id="title">
                    <%= item.title %>
                  </span>
                </td>
                <td class="px-6 py-4 font-semibold text-[#060840]" id="adults_no">
                  <span id="adults_no">
                    <%= item.adults_no %>
                  </span>
              </td>
                <td class="px-6 py-4 font-semibold text-[#060840]" id="kids_no">
                  <span id="kids_no">
                    <%= item.kids_no %>
                  </span>
                </td>
                <td class="px-6 py-4 font-semibold text-[#060840]" id="adults_no">
                  <span id="adults_no">
                    <%= item.days_count %>
                  </span>
              </td>
                <td class="px-6 py-4 font-semibold text-[#060840]" id="totalCost">
                  <span id="totalCost">
                    $<%= item.totalCost %>
                  </span>
                </td>
                <td class="px-6 py-4 font-semibold text-[#060840]" id="date">
                  <span id="date">
                    <%= item.check_out %>
                  </span>
                </td>
                <td class="px-6 py-4">
                  <a href="" class="font-medium text-red-600 hover:underline" onclick="removeFromCart('<%= item.productId %>')">Remove</a>
                </td>
            </tr>
            <% }) %>
        <% } %>
        </tbody>
        <tfoot>
          <tr class="font-semibold text-[#060840] ">
            <td class="px-6 py-3 ">
              <a href="home">
                <button class="bg-[#060840] text-nowrap text-white font-[Poppins] duration-500 px-6 py-4  hover:bg-[#060840] rounded">
                 < Continus Shopping
              </button>
              </a>
            </td>
              <td class="px-6 py-3 "></td>
              <td class="px-6 py-3 "></td>
              <th scope="row" class="px-6 py-3 text-xl">Total</th>
              <td class="px-6 py-3 "></td>
              <td class="px-6 py-3">21,000</td>
          </tr>
      </tfoot>
    </table>
</div>


<div class="mt-7 w-[70%] flex flex-col bg-white rounded-lg p-4 shadow-sm">
    <h2 class="text-[#060840] font-bold text-2xl text-center">Personal Details</h2>

    <div class="mt-4 mx-6 flex flex-row space-x-4">
      <div class="flex-1">
          <label class="text-[#060840] text-xl" for="first_name">First Name</label>
          <input placeholder="First Name" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" id="first_name" type="text">
      </div>

      <div class="flex-1">
          <label class="text-[#060840] text-xl" for="last_name">Last Name</label>
          <input placeholder="Last Name" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" id="last_name" type="text">
      </div>
  </div>

    <div class="mt-4 mx-6">
        <label class="text-[#060840] text-xl" for="address">Address</label>
        <textarea placeholder="Your address" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 focus:ring-[#060840] focus:border-[#060840] px-2 py-1" id="address"></textarea>
    </div>

    <div class="mt-4 mx-6">
      <label class="text-[#060840] text-xl" for="payment">Payment Method</label>
      <!-- <input placeholder="Your name" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-cyan-400 focus:border-cyan-400 " type="text"> -->
      <select class="w-full bg-white rounded-md border-gray-300 border text-gray-700 px-2 py-1" id="payment">
        <option value="">Select a payment method</option>
        <option value="visa">Visa</option>
        <option value="mastercard">Mastercard</option>
        <option value="amex">American Express</option>
        <option value="discover">Discover</option>
      ...
    </select>
  </div>

    <div class="mt-4 mx-6 flex flex-row space-x-4">
        <div class="flex-1">
            <label class="text-[#060840] text-xl" for="city">City</label>
            <input placeholder="Your city" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" id="city" type="text">
        </div>

        <div class="flex-1">
            <label class="text-[#060840]cyan-400 text-xl" for="state">State</label>
            <input placeholder="Your state" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" id="state" type="text">
        </div>
    </div>

    <div class="mt-4 mx-6 flex flex-row space-x-4">
      <div class="flex-1">
          <label class="text-[#060840] text-xl" for="name_on_card">Name on card</label>
          <input  class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" id="name_on_card"  name="name_on_card" type="text" placeholder="Jon Smith">
      </div>

      <div class="flex-1">
          <label class="text-[#060840] text-xl" for="card_number" >Card number</label>
          <input  class="w-full bg-white rounded-md border-gray-300 border text-gray-700 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" name="card_number" id="card_number" type="text" placeholder="1234 1234 1234">
      </div>
  </div>
    <div class="mt-4 mx-6 flex flex-row space-x-2">
        <div class="flex-1">
            <label class="text-[#060840] text-xl" for="zip">ZIP</label>
            <input placeholder="Your ZIP code" class="w-full bg-white rounded-md border-gray-300 border text-gray-700 px-2 py-1" id="zip" type="text">
        </div>

        <div class="flex flex-row space-x-2">
            <div class="flex-1">
                <label class="text-[#060840] text-xl" for="country">Country</label>
                <select class="w-full bg-white rounded-md border-gray-300 border text-gray-700 px-2 py-1" id="country">
            <option value="">Select a country</option>

            <optgroup label="Africa">
                <option value="Afghanistan">Afghanistan</option>
                <option value="Algeria">Algeria</option>
                <option value="Angola">Angola</option>
                ...
                <option value="Zimbabwe">Zimbabwe</option>
            </optgroup>

            <optgroup label="Asia">
                <option value="Armenia">Armenia</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahrain">Bahrain</option>
                ...
                <option value="Yemen">Yemen</option>
            </optgroup>

            <optgroup label="South America">
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Brazil">Brazil</option>
                ...
                <option value="Venezuela">Venezuela</option>
            </optgroup>

            ...
            </select>
            </div>
        </div>
    </div>

    <div class="mt-4 mx-6 flex flex-row space-x-4">
      <div class="flex-1">
          <label class="text-[#060840] text-xl" for="expiry">Expiry</label>
          <input type="text" name="expiry" id="expiry"  placeholder="MM / YY" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" id="city" type="text">
      </div>

      <div class="flex-1">
          <label class="text-[#060840] text-xl" for="cvv">Cvv</label>
          <input placeholder="•••" class="w-full bg-white rounded-md border-gray-300 border text-gray-800 px-2 py-1 focus:ring-[#060840] focus:border-[#060840]" type="password" name="cvv" id="cvv" >
      </div>
  </div>
    <div class=" mt-4 flex justify-center">
        <button class="w-[95%] bg-[#060840] text-white rounded-md px-8 py-2 hover:bg-[#060840] hover:text-white transition-all duration-200" type="button" id="personal_information">Submit</button>
    </div>
</div>
</div>

<script>

async function removeFromCart(productId) {
    try {
        const response = await fetch(`/remove-from-cart?productId=${productId}`, {
            method: 'GET',
        });

        if (response.ok) {
            // Fetch the updated cart HTML and update the page dynamically
            const updatedCartHtml = await response.text();
            document.querySelector('#cart-container').innerHTML = updatedCartHtml;
        } else if (result.cart.length === 0) {
            window.location.href = '/api/home';
        } else {
            button.closest('tr').remove();
        }
    } catch (error) {
        console.error('Error:', error);
    }
}

const personal_information = document.getElementById("personal_information");
personal_information.addEventListener("click", async(event) =>{
        const first_name = document.getElementById("first_name")?.value.trim();
        const last_name = document.getElementById("last_name")?.value.trim();
        const address = document.getElementById("address")?.value.trim();
        const payment = document.getElementById("payment")?.value.trim();
        const city = document.getElementById("city")?.value.trim();
        const state = document.getElementById("state")?.value.trim();
        const name_on_card = document.getElementById("name_on_card")?.value.trim();
        const card_number = document.getElementById("card_number")?.value.trim();
        const zip = document.getElementById("zip")?.value.trim();
        const country = document.getElementById("country")?.value.trim();
        const expiry = document.getElementById("expiry")?.value.trim();
        const cvv = document.getElementById("cvv")?.value.trim();
        const title = document.getElementById("title").innerText; 
        const adults_no = document.getElementById("adults_no").innerText;
        const kids_no =  document.getElementById("kids_no").innerText;
        const totalCost =   document.getElementById("totalCost").innerText;
        const Adults_no = parseFloat(adults_no.replace('$', ''));
        const Kids_no = parseFloat(kids_no.replace('$', ''));
        const TotalCost = parseFloat(totalCost.replace('$', ''));

    const data = {
                first_name : first_name,
                last_name : last_name,
                address : address,
                payment_Method : payment,
                city : city,
                state : state,
                name_On_Card : name_on_card,
                card_Number : card_number,
                zip : zip,
                country : country,
                expiry : expiry,
                cvv : cvv,
                title: title,
                adults_no: Adults_no,
                kids_no: Kids_no,
                totalCost: TotalCost,
            };
            // console.log(data);
            const validateForm = (data) => {
            const errors = [];
            if (!data.first_name) errors.push("First name is required.");
            if (!data.last_name) errors.push("Last name is required.");
            if (!data.card_Number || !data.card_Number.match(/^\d{16}$/)) {
             errors.push("Card number must be 16 digits.");
            }

            if (!data.expiry || !data.expiry.match(/^\d{2}\/\d{2}$/)) {
                errors.push("Expiry must be in MM/YY format.");
            }

            if (!data.cvv || !data.cvv.match(/^\d{3}$/)) {
                errors.push("CVV must be 3 digits.");
            }

            return errors;
            };
            const errors = validateForm(data);
            if (errors.length > 0) {
                alert(errors.join("\n"));
                return;
            }
            try {
                const response = await fetch('http://localhost:5000/cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();
                window.location.href = `/api/home`;
                // console.log('Server Response:', result);
            } catch (error) {
                console.error('Error:', error);
            }
  
    // console.log(data);
    // console.log(last_name);
    // console.log(address);
    // console.log(payment);
    // console.log(city);
    // console.log(state);
    // console.log(name_on_card);
    // console.log(card_number);
    // console.log(zip);
    // console.log(country);
    // console.log(expiry);
    // console.log(cvv);

  });

</script>
</body>
</html>